<Files *.php>
	Deny from all
</Files>
<Files index.php>
	Allow from all
</Files>

RewriteEngine On
RewriteRule ^([^/]+)/? index.php?url=$1 [L,QSA]

# 5000M is 5GB
php_value upload_max_filesize 5000M
php_value post_max_size 5000M